In [3]:
import numpy as np
from scipy import stats
rng = np.random.default_rng()
sample1 = stats.uniform.rvs(size=100, random_state=rng)
sample2 = stats.norm.rvs(size=110, random_state=rng)
response = stats.ks_2samp(sample1, sample2)

In [4]:
sample1

array([7.96162098e-01, 4.10228066e-01, 2.43263658e-01, 6.48689114e-01,
       7.40804118e-01, 7.42426852e-01, 2.81557163e-01, 9.88387318e-01,
       2.35529459e-01, 1.17359128e-01, 3.97454470e-01, 2.71572737e-01,
       3.04922820e-01, 1.49583595e-01, 7.96920170e-01, 1.89120214e-01,
       9.93557653e-01, 1.31989805e-01, 3.24324715e-01, 2.62986404e-01,
       9.83520266e-01, 1.21903923e-01, 2.26527204e-01, 6.72355209e-01,
       5.16580261e-01, 5.95174039e-01, 3.09082306e-01, 8.73749756e-01,
       3.13526582e-01, 5.24893405e-01, 4.65753596e-01, 7.90076908e-01,
       2.08717599e-01, 3.51122129e-02, 5.12142302e-01, 2.92507078e-01,
       7.43879589e-01, 7.13663120e-01, 4.13828872e-01, 6.71533324e-02,
       2.54168398e-01, 9.49764531e-01, 7.99538726e-01, 3.22669735e-01,
       2.63177902e-01, 9.58323161e-01, 7.88689592e-01, 9.29118929e-01,
       4.93359591e-01, 4.37003043e-01, 7.82223259e-01, 9.13713900e-01,
       3.59667515e-01, 3.58481765e-01, 3.96098114e-01, 3.11274582e-01,
       2.93398163e-01, 1.83368204e-01, 4.03366202e-01, 4.65589977e-01,
       1.98672360e-01, 6.91233874e-01, 7.48979580e-01, 5.93847577e-04,
       7.85882543e-01, 5.09139247e-01, 3.25133670e-01, 5.72939995e-01,
       3.26622838e-01, 3.88025621e-01, 6.20100876e-01, 7.97969188e-01,
       3.88486038e-01, 7.60330484e-01, 9.37404531e-01, 6.38501681e-01,
       2.41172558e-01, 6.52172657e-01, 2.24862083e-01, 9.52840609e-01,
       6.24590338e-01, 3.29569761e-01, 6.86720834e-01, 6.23152892e-01,
       6.42652278e-01, 3.19348383e-01, 3.16887457e-01, 4.94529331e-01,
       5.27326791e-01, 9.43088322e-01, 3.38076274e-01, 5.40799618e-01,
       3.04073502e-01, 5.74977465e-01, 1.65697411e-01, 7.72455093e-01,
       3.43687458e-01, 3.15880297e-02, 4.66402987e-01, 9.09254077e-01])

In [5]:
sample2

array([-0.14508846,  0.26537028, -1.15872411,  0.13825781, -0.98130028,
       -0.18103924, -0.57727042,  1.78870922,  0.38183344,  0.24819257,
        0.51070207, -1.6370867 , -1.37322223, -1.03881228,  0.35715281,
       -0.18826724,  0.98484887,  1.00182611, -0.27981355, -1.82696958,
        1.02614599,  0.13561164, -1.37669648, -0.96092029,  1.02127141,
       -1.06026728, -0.14700191, -0.40970159,  0.85212736,  0.31185205,
        1.03816338,  1.0286153 ,  1.84284376, -0.38347763, -0.91504458,
       -0.96088299, -0.38298565,  0.69983381, -0.76331871,  0.02098109,
        0.27803152,  0.65350099, -2.21444591, -0.73203032,  0.51666953,
        0.46665933,  0.08347105, -1.55446077, -0.71589028,  0.64639071,
        0.28016951,  0.04583328,  0.45670971,  1.06005403,  0.47374823,
        0.07404368, -0.82911542,  0.82467179,  0.70544542, -0.79090833,
        1.39196554,  0.84403668, -1.85166022, -1.27876754, -1.29091581,
        1.07566724, -0.85239949,  0.95335742,  2.05200643,  1.35455553,
        0.25500638, -0.71199922,  0.44762978,  1.7908495 , -0.89180772,
        0.80985997, -1.38945404,  1.17639826, -1.42977091, -0.87373339,
        0.66248008,  1.09325317,  1.09125644,  0.28332825,  0.58322022,
        0.91944036, -0.92902232,  0.60797977,  0.52883537,  0.96373531,
       -0.04482037, -0.45097552, -0.61012291, -0.33253566, -0.3641252 ,
        0.01888557, -1.63746282,  0.93991314, -0.34713874, -0.4194627 ,
       -0.84563361, -1.45895737, -1.217207  ,  0.41809712, -1.59322016,
       -1.815826  ,  0.34905162, -1.32574452,  1.10247024,  1.0121455 ])

In [10]:
round(response.pvalue,16)

#Here we can see that the p value is < 0.05 ..so we can reject the null hyphothesis

4.35189e-11

In [ ]:
#Anomoly in dataset

# 1. High null value
# 2. Missing columns
# 3. Outlier
# 4. Categorical : 
Gender - Male / Female

In [ ]:
#df = pd.read_csv("Path of train.csv file created in Artifact folder")
#For practice I am using other file...but use train.csv ideally

In [2]:
import pandas as pd
df = pd.read_csv("/config/workspace/aps_failure_training_set1.csv")

In [3]:
df.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,pos,153204,0,182,na,0,0,0,0,0,...,129862,26872,34044,22472,34362,0,0,0,0,0
1,pos,453236,na,2926,na,0,0,0,0,222,...,7908038,3026002,5025350,2025766,1160638,533834,493800,6914,0,0
2,pos,72504,na,1594,1052,0,0,0,244,178226,...,1432098,372252,527514,358274,332818,284178,3742,0,0,0
3,pos,762958,na,na,na,na,na,776,281128,2186308,...,na,na,na,na,na,na,na,na,na,na
4,pos,695994,na,na,na,na,na,0,0,0,...,1397742,495544,361646,28610,5130,212,0,0,na,na

In [14]:
drop_column_names = []
for column_name, missing_percentage in zip((df.isnull().sum()/df.shape[0]).index, (df.isnull().sum()/df.shape[0]).values):
    print(column_name, missing_percentage*100)

    if missing_percentage> 0.3:
        drop_column_names.append(column_name)

class 0.0
aa_000 0.0
ab_000 0.0
ac_000 0.0
ad_000 0.0
ae_000 0.0
af_000 0.0
ag_000 0.0
ag_001 0.0
ag_002 0.0
ag_003 0.0
ag_004 0.0
ag_005 0.0
ag_006 0.0
ag_007 0.0
ag_008 0.0
ag_009 0.0
ah_000 0.0
ai_000 0.0
aj_000 0.0
ak_000 0.0
al_000 0.0
am_0 0.0
an_000 0.0
ao_000 0.0
ap_000 0.0
aq_000 0.0
ar_000 0.0
as_000 0.0
at_000 0.0
au_000 0.0
av_000 0.0
ax_000 0.0
ay_000 0.0
ay_001 0.0
ay_002 0.0
ay_003 0.0
ay_004 0.0
ay_005 0.0
ay_006 0.0
ay_007 0.0
ay_008 0.0
ay_009 0.0
az_000 0.0
az_001 0.0
az_002 0.0
az_003 0.0
az_004 0.0
az_005 0.0
az_006 0.0
az_007 0.0
az_008 0.0
az_009 0.0
ba_000 0.0
ba_001 0.0
ba_002 0.0
ba_003 0.0
ba_004 0.0
ba_005 0.0
ba_006 0.0
ba_007 0.0
ba_008 0.0
ba_009 0.0
bb_000 0.0
bc_000 0.0
bd_000 0.0
be_000 0.0
bf_000 0.0
bg_000 0.0
bh_000 0.0
bi_000 0.0
bj_000 0.0
bk_000 0.0
bl_000 0.0
bm_000 0.0
bn_000 0.0
bo_000 0.0
bp_000 0.0
bq_000 0.0
br_000 0.0
bs_000 0.0
bt_000 0.0
bu_000 0.0
bv_000 0.0
bx_000 0.0
by_000 0.0
bz_000 0.0
ca_000 0.0
cb_000 0.0
cc_000 0.0
cd_000 0.0
ce_000 0.0
cf_000 0.0
cg_000 0.0
ch_000 0.0
ci_000 0.0
cj_000 0.0
ck_000 0.0
cl_000 0.0
cm_000 0.0
cn_000 0.0
cn_001 0.0
cn_002 0.0
cn_003 0.0
cn_004 0.0
cn_005 0.0
cn_006 0.0
cn_007 0.0
cn_008 0.0
cn_009 0.0
co_000 0.0
cp_000 0.0
cq_000 0.0
cr_000 0.0
cs_000 0.0
cs_001 0.0
cs_002 0.0
cs_003 0.0
cs_004 0.0
cs_005 0.0
cs_006 0.0
cs_007 0.0
cs_008 0.0
cs_009 0.0
ct_000 0.0
cu_000 0.0
cv_000 0.0
cx_000 0.0
cy_000 0.0
cz_000 0.0
da_000 0.0
db_000 0.0
dc_000 0.0
dd_000 0.0
de_000 0.0
df_000 0.0
dg_000 0.0
dh_000 0.0
di_000 0.0
dj_000 0.0
dk_000 0.0
dl_000 0.0
dm_000 0.0
dn_000 0.0
do_000 0.0
dp_000 0.0
dq_000 0.0
dr_000 0.0
ds_000 0.0
dt_000 0.0
du_000 0.0
dv_000 0.0
dx_000 0.0
dy_000 0.0
dz_000 0.0
ea_000 0.0
eb_000 0.0
ec_00 0.0
ed_000 0.0
ee_000 0.0
ee_001 0.0
ee_002 0.0
ee_003 0.0
ee_004 0.0
ee_005 0.0
ee_006 0.0
ee_007 0.0
ee_008 0.0
ee_009 0.0
ef_000 0.0
eg_000 0.0

In [15]:
drop_column_names

[]

In [20]:
null_report = df.isna().sum()/df.shape[0]
null_report[null_report>0.3].index

In [21]:
null_report

class     0.0
aa_000    0.0
ab_000    0.0
ac_000    0.0
ad_000    0.0
         ...
ee_007    0.0
ee_008    0.0
ee_009    0.0
ef_000    0.0
eg_000    0.0
Length: 171, dtype: float64

Index([], dtype='object')